@charset "utf-8";

@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 300;
    font-style: normal;
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.eot');
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.eot?#iefix') format('embedded-opentype'),
        url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.woff2') format('woff2'),
        url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.woff') format('woff'),
        url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 400;
    font-style: normal;
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.eot');
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.eot?#iefix') format('embedded-opentype'),
        url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.woff2') format('woff2'),
        url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.woff') format('woff'),
        url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 700;
    font-style: normal;
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.eot');
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.eot?#iefix') format('embedded-opentype'),
        url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.woff2') format('woff2'),
        url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.woff') format('woff'),
        url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 800;
    font-style: normal;
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.eot');
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.eot?#iefix') format('embedded-opentype'),
        url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.woff2') format('woff2'),
        url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.woff') format('woff'),
        url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 900;
    font-style: normal;
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.eot');
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.eot?#iefix') format('embedded-opentype'),
        url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.woff2') format('woff2'),
        url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.woff') format('woff'),
        url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.ttf') format("truetype");
    font-display: swap;
}

:root {
    --primary--noraml: #130c47;
    --royal-blue: #1f6fff;
    --secondary--active: #4c54c4;
    --secondary--hover: #7e91dc;
    --flowui-component-library--gray-200: #f3f5fb;
    --flowui-component-library--gray-900: #160042;
    --primary--color: white;
    --medium-orchid: #b75dda;
    --flowui-component-library--gray-100: #f7f9fd;
    --primary--strong: #170f57;
    --flowui-component-library--white: white;
    --flowui-component-library--gray-500: #6b7094;
    --primary--disabled: rgba(19, 12, 71, .5);
    --primary--active: #170f57;
    --secondary--disabled: rgba(88, 104, 207, .5);
    --information--normal: #1154ff;
    --secondary--subtle: #e2e6f7;
    --secondary--strong: #3b3b92;
    --success--disabled: rgba(3, 182, 74, .5);
    --spark-library--white: white;
    --spark-library--foreground-interactive: #5532fa;
    --spark-library--background--interactive: #f0ecfd;
    --spark-library--foreground-interactive-hover: #1e116e;
    --spark-library--black: black;
    --spark-library--foreground-secondary: rgba(0, 0, 0, .76);
    --flowui-component-library--grey-300: #e4e6f1;
    --information--disabled: rgba(17, 84, 255, .5);
    --secondary--normal: #5868cf;
    --flowui-component-library--gray-700: #282556;
    --lime-green: #5ec045;
    --primary--hover: #241996;
    --primary--subtle: #442cff;
    --success--normal: #03b64a;
    --success--hover: #0cdb5e;
    --success--active: #068f3d;
    --information--hover: #327aff;
    --information--active: #033bf2;
    --warning--normal: #f65c00;
    --warning--hover: #ff7910;
    --warning--active: #ce4200;
    --warning--disabled: rgba(246, 92, 0, .5);
    --danger--normal: #f5160f;
    --danger--hover: #ff3a34;
    --danger--active: #ce0d07;
    --danger--disabled: rgba(245, 22, 15, .5);
    --white: white;
    --font-family: 'NanumSquareNeo', sans-serif;
    --text-lg: 16px;
    --text-md: 14px;
    --text-sm: 13px;
    --text-mn: 12px;
    --gt-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    --bs-gutter-x: 16px;
    --bs-gutter-y: 16px;
}

* {
    box-sizing: border-box;
}

:root,
html {
    font-size: 14px;
}

@media (min-width: 992px) {

    :root,
    html {
        font-size: 16px;
    }
}

body {
    color: #333333;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.5px;
    line-height: 1.5;
    margin: 0;
    position: relative;
}

a {
    text-decoration: none;
}

dl,
dt,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5;
    margin: 0;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

button,
input,
textarea {
    font-family: var(--font-family);
}

input:focus,
input:hover {
    outline: none;
}

textarea {
    overflow: auto;
}

.row {
    --bs-gutter-x: 16px;
    --bs-gutter-y: 16px;
}

[data-aos=fade-up] {
    transform: translate3d(0, 40px, 0);
}

[data-aos=fade-down] {
    transform: translate3d(0, -40px, 0);
}

[data-aos=fade-left] {
    transform: translate3d(0, 0, 0, -40px);
}

/* **************************************** *
 * Common
 * **************************************** */
.common-wrap .header {
    align-items: center;
    background: #2C478E;
    display: flex;
    height: 60px;
    padding: 0 20px;
}

.common-wrap .header h1 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.common-body {
    display: flex;
    flex-direction: row;
}

.common-body aside {
    background: #F4F5F7;
    height: auto;
    padding: 20px;
    width: 200px;
}

.common-body aside ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.common-body aside ul li a {
    color: #333;
    font-size: 16px;
}

.common-element {
    padding: 20px;
    width: calc(100% - 200px);
}

.common-element table {
    margin: 0 0 20px 0;
    width: 100%;
}

.common-element tr:nth-child(1) {
    height: 40px;
}

.common-element tr td {
    font-size: 14px;
}

.common-element tr td:nth-child(1) {
    width: 100px;
}


.mo {
    display: block;
}

.pc {
    display: none;
}

@media (min-width: 992px) {
    .mo {
        display: none;
    }

    .pc {
        display: block;
    }
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1200px;
    }
}

/* **************************************** *
 * header 
 * **************************************** */
.header {
    align-items: center;
    background: var(--white);
    display: flex;
    min-height: 60px;
    padding: 6px 0;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.header .container {
    display: flex;
    flex-wrap: wrap;
}

.header .navbar-brand {
    align-items: center;
    display: flex;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
}

.header .navbar-brand img {
    height: 48px;
}

.header .navbar-toggler {
    border: 0;
    padding: 0;
    margin: 0 0 0 auto;
}

.header .navbar-toggler:hover {
    box-shadow: none;
}

.header .navbar-toggler i {
    color: var(--spark-library--foreground-interactive);
    font-size: 40px;
}

.header .navbar-collapse {}

.header .navbar-nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 20px 0 0 0;
}

.header .nav-link {
    color: #333333 !important;
    font-size: 1rem;
}

.header .nav-item button {
    background: white;
    border: 0;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    color: var(white);
    height: 40px;
    padding: 0;
    width: 100%;
}

.header .nav-item button.btn-inquiry {
    background-color: var(--spark-library--background--interactive);
    color: var(--spark-library--foreground-interactive);
}

.header .nav-item button.btn-login {
    background-color: var(--spark-library--foreground-interactive);
    color: var(--spark-library--white);
}

.header .login i {
    align-items: center;
    display: flex;
}

@media (min-width: 992px) {
    .header {
        height: 90px;
    }

    .header .container {
        flex-wrap: nowrap;
    }

    .header .navbar-brand {
        gap: 0.5rem;
    }

    .header .navbar-toggler {
        display: none;
    }

    .collapse:not(.show) {
        display: flex;
    }

    .header .navbar-nav {
        align-items: center;
        flex-direction: row;
        gap: 60px;
        margin: 0 0 0 auto;
    }

    .header .nav-item {
        align-items: center;
        display: flex;
    }

    .header .nav-item .nav-link {
        padding: 0;
    }

    .header .nav-item button {
        height: 48px;
        margin: 0;
        width: 100px;
    }

    .header .dropdown-menu {
        border: 1px solid #cccccc;
        border-radius: 8px;
        left: auto;
        padding: 16px;
        position: absolute !important;
        right: 0;
    }

    .header .dropdown-menu a {
        padding: 4px 0;
    }

}

/* **************************************** *
 * footer 
 * **************************************** */
.footer {
    background: var(--white);
    padding: 1rem 0;
}

.footer .container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.footer-top a {
    align-items: center;
    display: flex;
    gap: .75rem;
    margin: 0 0 1rem 0;
}

.footer-top img {
    height: 3rem;
}

.footer-top span {
    color: #333333;
    font-size: 2rem;
    font-weight: 900;
}

.footer-top p {
    font-size: 1.25rem;
}

.btn-kakao {
    background: #f7e600;
    border: 0;
    border-radius: 4px;
    color: #3a1d1d;
    font-size: 1.25rem;
    font-weight: 900;
    margin: 1rem 0 0 0;
    padding: 1rem 1.25rem;
}

.footer-bottom {
    border-top: 1px solid var(--primary--noraml);
    padding: 20px 0;
}

.footer-bottom p {
    color: var(--primary--noraml);
    font-size: 1rem;
    font-weight: 700;
}

.footer-icon {
    display: flex;
    justify-content: center;
    margin: 0.75rem 0 0 0;
}

.footer-icon li a {
    border-radius: 2px;
    padding: 0.5rem;
}

.footer-icon li a i {
    color: var(--primary--noraml);
}

@media (min-width: 992px) {
    .footer {
        padding: 2.5rem 0;
    }

    .footer-top p {
        font-size: 1rem;
    }


    .footer-icon {
        justify-content: flex-end;
        margin: 0;
    }
}

/* **************************************** *
 * accordion 
 * **************************************** */
.accordion {
    border: 1px solid var(--flowui-component-library--grey-300);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 20px auto;
    overflow: hidden;
    width: 100%;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.accordion-content p {
    font-size: 1rem;
    margin: 0;
    padding: 15px;
}

.accordion-text {
    border-radius: 12px;
    color: #333333;
    margin: 0 16px 16px 16px;
}

.accordion-text p {
    color: var(--flowui-component-library--gray-500);
    line-height: 2;
    text-align: left;
}

.accordion-header {
    align-items: center;
    background: none;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    color: #333333;
    font-size: 1rem;
    font-weight: 800;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    outline: none;
    padding: 20px;
    text-align: left;
    width: 100%;
}

.accordion-header i {
    align-items: center;
    display: flex;
    transition: all 1s;
}
.accordion-header.active i {
    transform: rotate(180deg);
}

.accordion-item {
    border-radius: 12px !important;
    border: 0;
}

.accordion-item:last-child {
    border-bottom: none;
}

@media (min-width:992px) {
    .accordion-header {
        font-size: 1rem;
    }
}

/* **************************************** *
 * button
 * **************************************** */
.am-btn-group {
    display: flex;
    gap: 8px;
    width: 100%;
}

.am-btn-group.center {
    justify-content: center;
}

.am-btn-group.vertical {
    flex-direction: column;
    gap: .5rem;
}

.am-btn-group button {
    border: 0;
    border-radius: 8px;
}

.btn-cancel {
    background: #d3d3d3 !important;
    color: #333 !important;
}

.btn-am-primary {
    background: var(--primary--noraml);
    color: var(--white);
}

.btn-am-secondary {
    background: var(--secondary--strong);
    color: var(--white);
}

/* **************************************** *
 * input
 * **************************************** */
.check-group {
    align-items: center;
    display: flex;
}

.check-group input {
    display: none;
}

.check-group label {
    align-items: flex-start;
    font-size: 1rem;
    display: flex;
    gap: 4px;
}

.check-group label::before {
    background: url(../img/ico/i-checkbox.png) no-repeat;
    background-size: cover;
    content: '';
    flex: 0 0 auto;
    display: inline-block;
    height: 16px;
    margin: 4px 0 0 0;
    width: 16px;
}

.check-group input:checked+label::before {
    background: url(../img/ico/i-checkbox-checked.png) no-repeat;
    background-size: cover;
}

/* select */
.select-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.select-group label {
    font-size: 1rem;
    font-weight: 800;
}

.select-group select {
    background: #ffffff url(../img/ico/i-arrow-down.png) no-repeat 50%/16px;
    background-position: right 0.75rem center;
    border: 1px solid #cccccc;
    border-radius: 8px;
    font-size: 1rem;
    height: 40px;
    padding: 0 0.75rem;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-group select:focus {
    outline: none;
}

@media (min-width:992px) {
    .select-group select {
        height: 48px;
    }
}

/* input */
.input-wrap {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.am-input-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.am-input-group label {
    align-items: center;
    font-size: 1rem;
    font-weight: 800;
    display: flex;
    gap: 4px;
}

.am-input-group input {
    border: 1px solid #cccccc;
    border-radius: 8px;
    font-size: 1rem;
    height: 40px;
    padding: 0 0.75rem;
}

@media (min-width:992px) {
    .am-input-group input {
        height: 48px;
    }
}

/* file */
.am-file-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.am-file-group h3 {
    font-size: 1rem !important;
    gap: 4px;
    margin: 0 !important;
}

.file-area {
    align-items: center;
    display: flex;
    gap: 8px;
    position: relative;
}

.am-file-group input {
    display: none;
}

.am-file-group label {
    align-items: center;
    background: var(--white);
    border: 1px solid var(--secondary--disabled);
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    gap: 4px;
    height: 40px;
    padding: 0 16px;
}

@media (min-width:992px) {
    .am-file-group label {
        height: 48px;
    }
}

.am-file-group label i {
    color: #333333;
    font-size: 16px;
}

.am-file-group p {
    font-size: 1rem;
}

/* dropdown */
.header .dropdown-toggle {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-menu {
    border: 0;
    display: none;
    left: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 100%;
    z-index: 1;
}

.dropdown-menu a {
    color: black;
    display: block;
    font-size: 14px;
    padding: 8px 0;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.dropdown-menu hr {
    margin: 8px 0;
}

.dropdown-toggle {
    align-items: center;
    background: var(--white);
    border: none;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 0;
    transition: background-color 0.3s ease;
    width: 100%;
}

.login {
    align-items: center;
    display: flex;
    gap: 2px;
}